@font-face {
  font-family: "iconfont"; /* Project id 3856743 */
  src: url('iconfont8c4e.woff2?t=1683603149817') format('woff2'),
       url('iconfont8c4e.woff?t=1683603149817') format('woff'),
       url('iconfont8c4e.ttf?t=1683603149817') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dengshizaixianIcon:before {
  content: "\e614";
}

.icon-shipinbofangyingpian2:before {
  content: "\e78e";
}

.icon-sheji1:before {
  content: "\e605";
}

.icon-jiancai:before {
  content: "\e641";
}

.icon-yunying:before {
  content: "\e657";
}

.icon-zhaoshangdaili1:before {
  content: "\e6f8";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-diqiu:before {
  content: "\e610";
}

.icon-QQ:before {
  content: "\e609";
}

.icon-weibo:before {
  content: "\e629";
}

.icon-anjian:before {
  content: "\e603";
}

.icon-shop:before {
  content: "\e61b";
}

.icon-dianhua:before {
  content: "\e607";
}

.icon-caigouoff:before {
  content: "\e612";
}

.icon-shoucang:before {
  content: "\e7c9";
}

.icon-yk_shijian_fill:before {
  content: "\e601";
}

.icon-kechengbaoming:before {
  content: "\e602";
}

.icon-anniu-jiantouxiangyou_o:before {
  content: "\eb8c";
}

.icon-fenxiao:before {
  content: "\e63a";
}

.icon-daohangdizhi:before {
  content: "\e65e";
}

.icon-bingtu:before {
  content: "\e747";
}

.icon-kefu:before {
  content: "\e7e6";
}

.icon-icon:before {
  content: "\e666";
}

.icon-weixin1:before {
  content: "\e631";
}

.icon-xiaochengxu:before {
  content: "\e619";
}

.icon-xiaochengxu1:before {
  content: "\e63e";
}

.icon-dailishang:before {
  content: "\e604";
}

.icon-feiji:before {
  content: "\e60f";
}

.icon-floor-building:before {
  content: "\e9e7";
}

.icon-huowuchaxun1:before {
  content: "\e6c5";
}

.icon-ziyuanxhdpi:before {
  content: "\e648";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-home:before {
  content: "\e6af";
}

.icon-jiantou_zuoyouqiehuan_o:before {
  content: "\eb95";
}

.icon-huwai:before {
  content: "\e7ed";
}

.icon-jiaju:before {
  content: "\e7ee";
}

.icon-cailiao:before {
  content: "\e7ef";
}

.icon-LED:before {
  content: "\e7f0";
}

.icon-zhuanyong:before {
  content: "\e7f1";
}

.icon-shinei:before {
  content: "\e7f2";
}

.icon-shebei:before {
  content: "\e7f3";
}

.icon-shangye:before {
  content: "\e7f4";
}

.icon-gouxuan:before {
  content: "\e639";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-cha:before {
  content: "\e61c";
}

.icon-chenggong:before {
  content: "\e8c3";
}

.icon-jinggao:before {
  content: "\eb65";
}

.icon-fangxingxuanzhongfill:before {
  content: "\e721";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-shouji:before {
  content: "\e632";
}

.icon-jiantou_yemian_xiangyou_o:before {
  content: "\eb93";
}

.icon-mima:before {
  content: "\e6cb";
}

.icon-taideng:before {
  content: "\e89f";
}

.icon-jiajuzaixian1:before {
  content: "\e782";
}

.icon-qingjie1:before {
  content: "\e783";
}

.icon-dengshizaixian1:before {
  content: "\e784";
}

.icon-a-jiudianshangyekongjian1:before {
  content: "\e785";
}

.icon-shiyinzaixian1:before {
  content: "\e786";
}

.icon-shipinjiagong1:before {
  content: "\e787";
}

.icon-zhiyaozaixian1:before {
  content: "\e788";
}

.icon-xiuxianlvyouzaixian1:before {
  content: "\e789";
}

